*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

a{
  color: #000 !important;
  text-decoration: none !important;
}

.main{
  display: flex;
  margin-top: 130px;

  .content-main{
    h1{
      color: rgb(81, 167, 255);
      font-size: 64px;
      line-height: 1.2em;
      font-weight: 600;
      margin-bottom: 30px;
    }
    p{
      font-size: 16px;
      color: #b1b1b1;
      margin-bottom: 50px;
    }
    .btn{
        background: #fc813d;
        width: 140px;
        height: 40px;
        color: #fff !important;
        border-radius: 20px;
        font-weight: 400;
        transition: all, 0.3s ease-out;
        &:hover{
          background-color: darken(#fc813d, 10%);
          color: #fff;
        }
    }
  }
}
.wrapper{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}